.App {
    margin: 30px;
    margin: 0 auto;
    max-width: 600px;
    font-family: 'Hind', sans-serif;
}

.container {
    background-color: #e7e6e1;
    border: 1px solid #757a79;
    border-radius: 10px;
    padding: 5px;
}