h1 {
    font-size: 40px;
    color: #757a79;
}

h2 {
    list-style: none;
    font-size: medium;
    font-weight: bolder;
    color: #757a79;
}

.currently {
    color: #757a79;
    list-style: none;
    padding: 0;
}

.temperature {
    font-size: 60px;
}

.float-left {
    float: left;
}

.conditions {
    font-weight: 500;
    color: #757a79;
    list-style: none;
}
