h1 {
    font-size: 40px;
    color: #757a79;
}

h2 {
    font-size: medium;
    color: #757a79;
}

.temperature {
    font-size: 60px;
}

.float-left {
    float: left;
}

.list {
    list-style: none;
    color: #757a79;
}
